name: Otomatik Ziyaret ve Kaydet

on:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  ziyaret_ve_kaydet:
    runs-on: ubuntu-latest

    steps:
    - name: Kullan覺c覺 bilgilerini ayarla
      run: |
        git config --global user.email "codermert@bk.ru"
        git config --global user.name "codermert"
    - name: URL'yi ziyaret et
      run: |
        response=$(curl -sS https://depojs.codermert1.repl.co)
        echo "$response" > response.txt
        echo "$(date)" >> response.txt
    - name: Dosyay覺 kaydet
      run: |
        git add response.txt
        git commit -m "戊 Otomatik veri 癟al覺t覺r覺ld覺"
        git push
